zad1/soap-connector/src/main/java/pl/edu/agh/soa/VendorController.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.soa.agh.edu.pl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="VendorControllerService" targetNamespace="http://api.soa.agh.edu.pl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://api.soa.agh.edu.pl/" elementFormDefault="unqualified" targetNamespace="http://api.soa.agh.edu.pl/" version="1.0">

  <xs:element name="addVendor" type="tns:addVendor"/>

  <xs:element name="addVendorResponse" type="tns:addVendorResponse"/>

  <xs:element name="deleteVendor" type="tns:deleteVendor"/>

  <xs:element name="deleteVendorResponse" type="tns:deleteVendorResponse"/>

  <xs:element name="getAllVendors" type="tns:getAllVendors"/>

  <xs:element name="getAllVendorsResponse" type="tns:getAllVendorsResponse"/>

  <xs:element name="getProductPhoto" type="tns:getProductPhoto"/>

  <xs:element name="getProductPhotoResponse" type="tns:getProductPhotoResponse"/>

  <xs:element name="getVendorById" type="tns:getVendorById"/>

  <xs:element name="getVendorByIdResponse" type="tns:getVendorByIdResponse"/>

  <xs:element name="getVendorProducts" type="tns:getVendorProducts"/>

  <xs:element name="getVendorProductsResponse" type="tns:getVendorProductsResponse"/>

  <xs:element name="getVendorsByCountry" type="tns:getVendorsByCountry"/>

  <xs:element name="getVendorsByCountryResponse" type="tns:getVendorsByCountryResponse"/>

  <xs:element name="setProductPhoto" type="tns:setProductPhoto"/>

  <xs:element name="setProductPhotoResponse" type="tns:setProductPhotoResponse"/>

  <xs:element name="updateVendor" type="tns:updateVendor"/>

  <xs:element name="updateVendorResponse" type="tns:updateVendorResponse"/>

  <xs:complexType name="getVendorsByCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVendorsByCountryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vendor" type="tns:vendor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="products" nillable="true" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="pid" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:double"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element minOccurs="0" name="encoded64BaseImage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVendorProducts">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVendorProductsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="products">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="tns:product"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllVendors">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllVendorsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vendor" type="tns:vendor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addVendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addVendorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendor" type="tns:vendor"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateVendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateVendorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendor" type="tns:vendor"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setProductPhoto">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="pid" type="xs:int"/>
      <xs:element minOccurs="0" name="encoded64BaseImage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setProductPhotoResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deleteVendor">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteVendorResponse">
    <xs:sequence>
      <xs:element name="vendor" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductPhoto">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="pid" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductPhotoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="encoded64BaseImage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVendorById">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVendorByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendor" type="tns:vendor"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVendorsByCountry">
    <wsdl:part element="tns:getVendorsByCountry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVendorResponse">
    <wsdl:part element="tns:updateVendorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProductPhotoResponse">
    <wsdl:part element="tns:setProductPhotoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addVendor">
    <wsdl:part element="tns:addVendor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProductPhoto">
    <wsdl:part element="tns:setProductPhoto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVendorResponse">
    <wsdl:part element="tns:deleteVendorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductPhotoResponse">
    <wsdl:part element="tns:getProductPhotoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendorByIdResponse">
    <wsdl:part element="tns:getVendorByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendorProducts">
    <wsdl:part element="tns:getVendorProducts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addVendorResponse">
    <wsdl:part element="tns:addVendorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendorProductsResponse">
    <wsdl:part element="tns:getVendorProductsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendorsByCountryResponse">
    <wsdl:part element="tns:getVendorsByCountryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVendors">
    <wsdl:part element="tns:getAllVendors" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVendor">
    <wsdl:part element="tns:updateVendor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVendor">
    <wsdl:part element="tns:deleteVendor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductPhoto">
    <wsdl:part element="tns:getProductPhoto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendorById">
    <wsdl:part element="tns:getVendorById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVendorsResponse">
    <wsdl:part element="tns:getAllVendorsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VendorController">
    <wsdl:operation name="getVendorsByCountry">
      <wsdl:input message="tns:getVendorsByCountry" name="getVendorsByCountry">
    </wsdl:input>
      <wsdl:output message="tns:getVendorsByCountryResponse" name="getVendorsByCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVendorProducts">
      <wsdl:input message="tns:getVendorProducts" name="getVendorProducts">
    </wsdl:input>
      <wsdl:output message="tns:getVendorProductsResponse" name="getVendorProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVendors">
      <wsdl:input message="tns:getAllVendors" name="getAllVendors">
    </wsdl:input>
      <wsdl:output message="tns:getAllVendorsResponse" name="getAllVendorsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addVendor">
      <wsdl:input message="tns:addVendor" name="addVendor">
    </wsdl:input>
      <wsdl:output message="tns:addVendorResponse" name="addVendorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <wsdl:input message="tns:updateVendor" name="updateVendor">
    </wsdl:input>
      <wsdl:output message="tns:updateVendorResponse" name="updateVendorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProductPhoto">
      <wsdl:input message="tns:setProductPhoto" name="setProductPhoto">
    </wsdl:input>
      <wsdl:output message="tns:setProductPhotoResponse" name="setProductPhotoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVendor">
      <wsdl:input message="tns:deleteVendor" name="deleteVendor">
    </wsdl:input>
      <wsdl:output message="tns:deleteVendorResponse" name="deleteVendorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductPhoto">
      <wsdl:input message="tns:getProductPhoto" name="getProductPhoto">
    </wsdl:input>
      <wsdl:output message="tns:getProductPhotoResponse" name="getProductPhotoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVendorById">
      <wsdl:input message="tns:getVendorById" name="getVendorById">
    </wsdl:input>
      <wsdl:output message="tns:getVendorByIdResponse" name="getVendorByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendorControllerServiceSoapBinding" type="tns:VendorController">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVendorsByCountry">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVendorsByCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVendorsByCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVendorProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVendorProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVendorProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVendors">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllVendors">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllVendorsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addVendor">
      <soap:operation soapAction="addVendor" style="document"/>
      <wsdl:input name="addVendor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addVendorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <soap:operation soapAction="updateVendor" style="document"/>
      <wsdl:input name="updateVendor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateVendorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProductPhoto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setProductPhoto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setProductPhotoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVendor">
      <soap:operation soapAction="deleteVendor" style="document"/>
      <wsdl:input name="deleteVendor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteVendorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductPhoto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductPhoto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductPhotoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVendorById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVendorById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVendorByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendorControllerService">
    <wsdl:port binding="tns:VendorControllerServiceSoapBinding" name="VendorControllerPort">
      <soap:address location="http://localhost:8080/SOA-1/VendorController"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>